name: Trigger Pipeline Repo CI

on:
  push:
    branches:
      - develop
      - main

jobs:
  trigger:
    runs-on: ubuntu-latest

    steps:
      - name: Trigger CI in pipelinerepo
        run: |
          curl -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.PERSONAL_ACCESS_TOKEN }}" \
            -H "Content-Type: application/json" \
            https://api.github.com/repos/sschlosser7/pipelinerepo/dispatches \
            -d '{"event_type": "run-ci"}'
